<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>مثال با گو</title>
    <link rel=stylesheet href="site.css">
  </head>
  <script type="text/javascript">
    if (window.location.host == "gobyexample.com") {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34996217-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }
  </script>
  <body>
    <div id="intro">
      <h2><a href="./">مثال با گو</a></h2>
      <p>
        <a href="http://golang.org">گو</a> یک زبان
        برنامه نویسی سبک، سریع و ساده به صورت متن باز است..
      </p>

      <p>
        <em>گو با مثال</em>یک معرفی مختصر و مفید برای استفاده از زبان گو است.
        وقتشه با <a href="hello-world">اولین مثال</a> شروع کنید
        یا از لبست زیر یک مبحث رو انتخاب کنید.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.Id}}">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
       ترجمه توسط <a href="https://twitter.com/mazafard">مضافرد</a> | <a href="mailto:mazafard@gmail.com">بازخورد</a> | <a href="https://github.com/mazafard/gobyexample">منبع</a> | <a href="https://github.com/mazafard/gobyexample#license">مجوز</a>
      </p>
    </div>
  </body>
</html>
